<h1>Your goddamn data</h1>

<table>
  <tr>
    <td>Timestamp</td>
    <% @survey.questions.each do |q| %>
      <td>Q<%= q.qid %></td>
    <% end %>
  </tr>
  <% @data.each do |datum| %>
    <tr>
      <td>
        <%= datum[0] %>
        </td>

      <% @survey.questions.each do |q| %>
        <td>
          <% if datum[q.qid] %>
            <%= datum[q.qid] %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>
<%= link_to "DOWNLOAD THE CSV FILE", survey_responses_path(survey_id: @survey.id, format: "csv") %> <br>
<%= link_to "BACK TO THE GODDAMN SURVEY", survey_path(@survey) %>