<h1><%= @survey.name %></h1>
<p><%= @survey.description %></p><br>
<%= form_for([@survey, @response], html: {class: "post-form" }) do |f| %>
    <!-- <%= render 'shared/error_messages', object: @response %> -->
    <% @response.answers.each do |answer| %>
        <%= f.fields_for :answers, answer do |builder| %>
          <%= builder.label :str_value, answer.question.text %>
          <%= builder.text_field :str_value, class: "form-control" %>
          <%= builder.hidden_field :survey_id, value: @survey.id %>
          <%= builder.hidden_field :question_id, value: answer.question.id %>
          <br>
        <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit class: "btn btn-default" %> <%= link_to "Go back", @survey, class: "btn btn-default" %>
    </div>
 <% end %>

