<%= form_for(@survey) do |f| %>
      <%= render 'shared/error_messages', object: @survey %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <% qid = 1 %>
      <% @survey.questions.each do |question| %>

      <%= f.fields_for :questions, question do |builder| %>
        <p>
          <%= builder.label :text, "Question" %><br/>
          <%= builder.text_area :text, :row => 3 %><br>

          <%= builder.label :details %><br><br>
          <%= builder.text_area :details %>

          <%= builder.hidden_field :qid, value: qid %>
        </p>
      <% end %>
        <% qid += 1 %>
      <% end %>
      <div class="field">
        <%= f.label :participant_ids, 'Participants' %><br>
        <%= f.select :participant_ids, options_from_collection_for_select(@participants, "id", "name"), { prompt: "Please select"}, {multiple: true} %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
   <% end %>