<h1><%= @survey.name %></h1>
<%= @survey.description %>
<br><br>
<table class="table table-condensed">
  <tr>
    <td><b>Question</b></td>
    <td><b>Details</b></td>
  </tr>
  <% for question in @survey.questions %>
    <tr>
      <td><%= question.text %></td>
      <td><%= question.details %></td>
    </tr>
  <% end %>
</table>
<% if current_user.participant? %>
<%= link_to "Take survey", new_survey_response_path(survey_id: @survey.id), class: "btn btn-default"  %>
<% end %>
<% if current_user.researcher? %>
<%= link_to "See answers", survey_responses_path(survey_id: @survey.id), class: "btn btn-default" %>
<% end %>
<%= link_to "All surveys", surveys_path, class: "btn btn-default" %>
