<!DOCTYPE html>
<html>
<head>
  <title>Dcaasrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "auth-action" %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "auth-action" %>
      <% end %>
    <%= yield %>
  </div>
  <div class="col-md-3"></div>
</div>

</body>
</html>
